.blog-item {
    flex-direction: column;
    width: 410px;
    height: 476px;
    padding-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #E3E2E2;
    box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.blog-item-title {
    width: 350px;
    margin-left: 30px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 26px;
    color: #2B2929;
}

.blog-item-more {
    margin-left: 30px;
    gap: 10px;

    .item-more-title {
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 19px;
        color: #FFBC57;
    }
}