.post-title {
    margin-top: 75px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #2B2929;
}

.post-img {
    width: fit-content;
    margin: 40px auto;
    margin-bottom: 0;
}

.post-desc {
    width: 1070px;
    margin: 40px auto;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #2B2929;
}

.post-actions {
    margin-top: 40px;
    margin-left: 425px;
    gap: 470px;

    a {
        display: block;
        width: 300px;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: #FFBC57;
        border-radius: 8px;
        background-repeat: no-repeat;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 19px;
        color: #fff;

        &:first-child {
            padding-left: 90px;
            background-image: url("/public/images/arrow-left2.png");
            background-position: 51px;
        }

        &:last-child {
            padding-left: 59.5px;
            background-image: url("/public/images/arrow-right2.png");
            background-position: 216.5px;
        }
    }
}
