.catalog-category {
    margin-top: 30px;

    .category-box-sh {
        overflow: hidden;
        height: 180px;

        .subcategories-item {
            background-color: #B1B1B1 !important;
        }
    }
}

.catalog-category-caption {
    gap: 10px;
}

.catalog-bl-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    color: #2B2929;
}

.catalog-category-products {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    color: #B1B1B1;
}

.catalog-category-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.catalog-category-action {
    width: fit-content;
    margin: 20px auto;
    margin-bottom: 0;
    gap: 10px;

    .category-action-title {
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 19px;
        color: #FFBC57;
    }
}

.catalog-content {
    margin-top: 70px;
    gap: 30px;
}

.catalog-filter {
    width: 300px;
    height: fit-content;
    border: 1px solid #E3E2E2;

    .filter-bl-caption {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 15px;
        padding-right: 18px;
    }

    .filter-bl-content {
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #fff;
        border-bottom: 1px solid #B1B1B1;
    }

    .bl-content__clear {
        padding-top: 0;
        padding-bottom: 0;
    }

    .price-filter-fm {
        margin-bottom: 15px;
        gap: 14px;

        input {
            display: block;
            width: 90px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid #B1B1B1;
            border-radius: 8px;
            outline: none;
            font-family: 'Proxima Nova Rg';
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: #2B2929;
        }

        button {
            width: 60px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: #FFBC57;
            border: 1px solid #FFBC57;
            border-radius: 8px;
            cursor: pointer;
            font-family: 'Proxima Nova Lt';
            font-weight: 600;
            font-size: 19px;
            color: #fff;
        }
    }

    .filter-choise-fm {
        .check-bl {
            gap: 10px;
            margin-bottom: 17px;

            &:last-child {
                margin-bottom: 0;
            }

            input {
                display: block;
                width: 16px;
                height: 16px;
                appearance: none;
                -webkit-appearance: none;


                border: 1px solid #B1B1B1;

                &:checked {
                    background: #FFBC57 url("/public/images/check.svg") no-repeat;
                    background-position: center center;
                    border: 1px solid #FFBC57;
                }
            }

            label {
                font-family: 'Proxima Nova Lt';
                font-weight: 600;
                font-size: 16px;
                color: #2B2929;
            }
        }

        button {
            display: block;
            font-family: 'Proxima Nova Lt';
            font-weight: 600;
            font-size: 16px;
            color: #FFBC57;
        }
    }
}

.catalog-filter-caption {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    gap: 15px;
    background-color: #fff;
}

.catalog-filter-title,
.catalog-filter .filter-bl-title,
.catolog-choise-title,
.catalog-sort-fm label {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    color: #2B2929;
}

.catalog-filter-box {
    flex-direction: column;
}

.catalog-sort-fm {
    gap: 10px;

    label {
        display: block;
        padding-left: 28px;
        background: url('/public/images/sort-icon.png') no-repeat;
    }

    select {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 17px;
        color: #535353;
    }
}

.catalog-filters-select {
    margin-top: 30px;
    gap: 10px;

    .filters-select-item {
        gap: 12.99px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10.99px;
        background-color: #fff;
        border: 1px solid #B1B1B1;
        border-radius: 8px;

        .select-item-title {
            font-family: 'Proxima Nova Rg';
            font-weight: 400;
            font-size: 15px;
            color: #2B2929;
        }

        button {
            margin-top: 3px;
        }
    }

    .select-item__clear {
        background-color: #FFBC57;
        border: none;
    }
}

.catalog-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.catalog-more-btn {
    display: block;
    width: 300px;
    margin: 40px auto;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 49px;
    background: #FFBC57 url("/public/images/reload.png") no-repeat 40px;
    border: 1px solid #FFBC57;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    color: #fff;
}

.catalog-pagination {
    width: fit-content;
    gap: 10px;
    margin: 30px auto;
    margin-bottom: 0;

    .pagination-btn__active {
        background-color: #FFBC57;
        border-color: #FFBC57;
        color: #fff;
    }
}

.catalog-pagination-btn {
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 2px;
    background-color: #fff;
    border: 1px solid #B1B1B1;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
    font-size: 17px;
    color: #535353;

    &:first-child,
    &:last-child {
        padding-top: 6px;
    }
}

.catalog-seo {
    margin-top: 70px;
}

.catalog-seo-title,
.catalog-faq-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #2B2929;
}

.catalog-seo-desc {
    width: 960px;
    margin: 30px auto;
    margin-bottom: 0;
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #2B2929;
}

.catalog-seo-btn {
    display: block;
    width: fit-content;
    margin: 30px auto;
    margin-bottom: 0;
}

.catalog-faq {
    margin-top: 70px;
}

.catalog-faq-content {
    width: 1070px;
    margin: 40px auto;
    margin-bottom: 0;
    flex-direction: column;
    gap: 15px;

    .faq-item__active {
        border: 2px solid #FFBC57;
    }
}

.catalog-faq-item {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    .faq-item-caption {
        gap: 8px;
    }

    .faq-item-title {
        font-weight: 600;
        font-size: 40px;
        font-size: 19px;
        color: #2B2929;
    }

    .faq-item-desc {
        margin-top: 10px;
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: #2B2929;
    }
}