.home-slider-akcii {
    width: 1290px;
    height: 420px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-bl-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    color: #2B2929;
}

.home-popular {
    margin-top: 70px;
}

.home-popular-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 24px;
}

.home-products {
    margin-top: 70px;
}

.home-products-caption,
.home-promotions-caption,
.home-blog-caption {
    gap: 30px;
}

.home-products-all,
.home-promotions-all,
.home-blog-all {
    gap: 10px;
}

.home-products-all .products-all-title,
.home-promotions-all .promotions-all-title,
.home-blog-all .blog-all-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    color: #FFBC57;
}

.home-products-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.home-promotions {
    margin-top: 80px;
}

.home-promotions-controls,
.home-blog-controls {
    gap: 20px;
}

.home-promotions-controls .controls-btn,
.home-blog-controls .controls-btn {
    display: block;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    padding-left: 22.49px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.home-promotions-box {
    margin-top: 46px;
}

.home-reviews {
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 315px;
    background-color: #E9E9E9;
}

.home-reviews-company {
    margin-top: 40px;
    gap: 30px;

    .reviews-company-name {
        width: 300px;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 20px;
        color: #2B2929;
    }

    .reviews-rating {
        margin-top: 10px;
        gap: 10px;
    }

    .reviews-rating-num {
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 19px;
        color: #FF9900
    }

    .reviews-rating-desc {
        font-family: 'Proxima Nova Lt';
        font-weight: 300;
        font-size: 13px;
        color: #535353;
    }
}

.home-reviews-actions {
    margin-top: 40px;
    gap: 30px;

    a {
        display: block;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
        font-size: 19px;
    }
}

.home-reviews-write {
    width: 210px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 52.5px;
    background: #FFBC57 url('/public/images/add.png') no-repeat 13.5px;
    color: #fff;
}

.home-reviews-all {
    padding-left: 32px;
    background: url('/public/images/chat.png') no-repeat;
    color: #535353;
}

.home-revies-box {
    overflow: hidden;
    gap: 30px;
}

.home-reviews-item {
    width: auto;
    max-width: 450px;
    height: 370px;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #E3E2E2;
    box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    &:last-child {
        max-width: 250px;
        overflow: hidden;
    }

    .author-info {
        gap: 20px;
    }

    .reviews-item-desc {
        overflow-y: scroll;
        width: 370px;
        height: 150px;
        margin-top: 30px;
        font-family: 'Proxima Nova Rg';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #535353;
    }

    .reviews-item-product {
        margin-top: 30px;
        gap: 10px;

        .product-title {
            width: fit-content;
            font-family: 'Proxima Nova Lt';
            font-weight: 600;
            font-size: 20px;
            color: #535353;
        }
    }
}

.home-reviews-item .author-name,
.home-reviews-item .review-date {
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
    font-size: 17px;
}

.home-reviews-item .author-name {
    color: #2B2929;
}

.home-reviews-item .review-date {
    color: #535353;
}

.home-blog {
    margin-top: 70px;
}

.home-blog-box {
    margin-top: 40px;
}

.home-blog-item {
    width: 410px;
    height: 476px;
    padding-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #E3E2E2;
    box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    flex-direction: column;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;

    .blog-item-title {
        margin-left: 30px;
        font-size: 26px;
        color: #2B2929;
    }

    .blog-item-details {
        margin-left: 30px;
        gap: 10px;

        .details-title {
            font-size: 19px;
            color: #FFBC57;
        }
    }
}

.home-about {
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #fff;
}

.home-about .home-bl-title {
    max-width: 1070px;
    margin: 0 auto;
    text-align: center;
}

.home-about-desc {
    max-width: 1070px;
    height: 280px;
    margin: 30px auto;
    margin-bottom: 0;
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
    line-height: 1.4;
    color: #2B2929;
}

.home-about-btn {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
}

.home-about-features {
    margin-top: 75px;

    .about-features-item {
        gap: 20px;

        .features-item-title {
            width: 200px;
            font-family: 'Proxima Nova Lt';
            font-weight: 600;
            font-size: 20px;
        }
    }
}
