.home-slider-akcii {
    width: 1290px;
    height: 420px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-bl-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    color: #2B2929;
}

.home-popular {
    margin-top: 70px;
}

.home-popular-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 24px;
}

.home-products {
    margin-top: 70px;
}

.home-products-caption,
.home-promotions-caption {
    gap: 30px;
}

.home-products-all,
.home-promotions-all {
    gap: 10px;
}

.home-products-all .products-all-title,
.home-promotions-all .promotions-all-title {
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    color: #FFBC57;
}

.home-products-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.home-promotions {
    margin-top: 80px;
}

.home-promotions-controls {
    gap: 20px;
}

.home-promotions-controls .controls-btn {
    display: block;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    padding-left: 22.49px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.home-promotions-box {
    margin-top: 46px;
}