.subcategories-item {
    width: 250px;
    height: 180px;
    box-shadow: -3px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.subcategories-item-line {
    width: 20px;
    height: 5px;
    margin: 0 auto;
    background-color: #FFBC57;
    border-radius: 8px;
}

.subcategories-item-title {
    margin-top: 20px;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    color: #2B2929;
}